## Instructions
- Utilisez **SQLAlchemy** pour interagir avec une base de données **PostgreSQL**.
- Assurez-vous que les tables respectent les contraintes de clés étrangères.
- Testez chaque requête avec les données fournies pour vérifier les résultats.


## Installation des prérequis
Exécutez la commande suivante pour installer les bibliothèques nécessaires :
```bash
pip install sqlalchemy psycopg2-binary
```

## Configuration de la base de données
Remplacez la chaîne de connexion dans le code par vos informations PostgreSQL, par exemple :
```python
engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
```

# Exercice : Gestion d’un Restaurant avec SQLAlchemy et PostgreSQL

## Contexte
Vous êtes chargé de développer une application de gestion pour un restaurant. L'objectif est de modéliser et interagir avec une base de données pour gérer les plats, les catégories, les commandes et les clients à l'aide de **SQLAlchemy** et **PostgreSQL**. Les tâches incluent la création des tables, l'insertion de données, et l'exécution de requêtes.

Le restaurant souhaite suivre :
- Les **plats** disponibles (nom, prix, description, catégorie).
- Les **commandes** passées par les clients (date, contenu, total).
- Les **clients** (nom, email).
- Les **catégories** de plats (ex. : Entrée, Plat principal, Dessert, Boisson).

Créez une base de données nommée `restaurant_db` dans PostgreSQL avant d'exécuter le code.


## Structure des Tables
Voici la structure enrichie des tables à créer dans PostgreSQL :

- **categories** :
  - `id` (PK, entier)
  - `nom` (varchar, ex. : Entrée, Dessert)

- **plats** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `prix` (décimal)
  - `description` (varchar)
  - `categorie_id` (FK vers categories)

- **clients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `email` (varchar)
  - `telephone` (varchar, nullable)

- **commandes** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `date_commande` (timestamp)
  - `total` (décimal)

- **commande_plats** (table de liaison) :
  - `commande_id` (FK vers commandes)
  - `plat_id` (FK vers plats)
  - `quantite` (entier)

- **ingredients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `cout_unitaire` (décimal)
  - `stock` (décimal, en kg ou unités)
  - `fournisseur_id` (FK vers fournisseurs)

- **fournisseurs** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `contact` (varchar)

- **plat_ingredients** (table de liaison) :
  - `plat_id` (FK vers plats)
  - `ingredient_id` (FK vers ingredients)
  - `quantite_necessaire` (décimal, en kg ou unités par plat)

- **avis** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `plat_id` (FK vers plats)
  - `note` (entier, 1 à 5)
  - `commentaire` (text, nullable)
  - `date_avis` (timestamp)

## Données à insérer
Insérez les données suivantes pour tester les requêtes. Les données sont diversifiées pour inclure des variations réalistes.

### categories

| id | nom            |
|----|----------------|
| 1  | Entrée         |
| 2  | Plat principal |
| 3  | Dessert        |
| 4  | Boisson        |
| 5  | Végétarien     |

### plats
| id | nom                 | prix  | description                     | categorie_id |
|----|---------------------|-------|---------------------------------|--------------|
| 1  | Salade César        | 45.00 | Salade avec poulet grillé       | 1            |
| 2  | Soupe de légumes    | 30.00 | Soupe chaude de saison          | 1            |
| 3  | Steak frites        | 90.00 | Viande grillée et frites        | 2            |
| 4  | Pizza Margherita    | 70.00 | Pizza tomate & mozzarella       | 2            |
| 5  | Tiramisu            | 35.00 | Dessert italien                 | 3            |
| 6  | Glace 2 boules      | 25.00 | Glace au choix                  | 3            |
| 7  | Coca-Cola           | 15.00 | Boisson gazeuse                 | 4            |
| 8  | Eau minérale        | 10.00 | Eau plate ou gazeuse            | 4            |
| 9  | Curry de légumes    | 65.00 | Plat végétarien épicé           | 5            |
| 10 | Falafel wrap        | 50.00 | Wrap avec falafels et légumes   | 5            |

### clients
| id | nom                | email                  | telephone      |
|----|--------------------|------------------------|----------------|
| 1  | Amine Lahmidi      | amine@example.com      | +212600123456  |
| 2  | Sara Benali        | sara.b@example.com     | +212600654321  |
| 3  | Youssef El Khalfi  | youssef.k@example.com  | NULL           |
| 4  | Fatima Zahra       | fatima.z@example.com   | +212600987654  |
| 5  | Omar Alaoui        | omar.a@example.com     | +212600112233  |

### commandes
| id | client_id | date_commande         | total  |
|----|-----------|-----------------------|--------|
| 1  | 1         | 2025-07-07 12:30:00   | 120.00 |
| 2  | 2         | 2025-07-07 13:00:00   | 85.00  |
| 3  | 1         | 2025-07-08 19:45:00   | 150.00 |
| 4  | 3         | 2025-08-15 18:30:00   | 200.00 |
| 5  | 4         | 2025-09-01 20:00:00   | 95.00  |
| 6  | 5         | 2025-09-10 12:15:00   | 75.00  |

### commande_plats
| commande_id | plat_id | quantite |
|-------------|---------|----------|
| 1           | 1       | 1        |
| 1           | 3       | 1        |
| 1           | 7       | 2        |
| 2           | 2       | 1        |
| 2           | 4       | 1        |
| 2           | 8       | 1        |
| 3           | 3       | 1        |
| 3           | 5       | 1        |
| 3           | 7       | 1        |
| 4           | 4       | 2        |
| 4           | 9       | 1        |
| 5           | 10      | 1        |
| 5           | 8       | 2        |
| 6           | 7       | 3        |
| 6           | 6       | 1        |

### fournisseurs
| id | nom                | contact                |
|----|--------------------|------------------------|
| 1  | AgriFresh          | contact@agrifresh.com  |
| 2  | MeatSupplier       | info@meatsupplier.com  |
| 3  | BevCo              | sales@bevco.com        |
| 4  | DairyFarm          | dairy@farm.com         |

### ingredients
| id | nom                | cout_unitaire | stock | fournisseur_id |
|----|--------------------|---------------|-------|---------------|
| 1  | Poulet             | 15.00         | 50    | 2             |
| 2  | Laitue             | 5.00          | 20    | 1             |
| 3  | Tomate             | 3.00          | 30    | 1             |
| 4  | Mozzarella         | 10.00         | 15    | 4             |
| 5  | Pomme de terre     | 2.00          | 100   | 1             |
| 6  | Café               | 20.00         | 5.    | 3             |
| 7  | Sucre              | 1.50          | 25    | 3             |
| 8  | Pois chiches       | 4.00          | 40    | 1             |

### plat_ingredients
| plat_id | ingredient_id | quantite_necessaire |
|---------|---------------|---------------------|
| 1       | 1             | 0.2                 |
| 1       | 2             | 0.1                 |
| 2       | 2             | 0.05                |
| 2       | 5             | 0.1                 |
| 3       | 1             | 0.3                 |
| 3       | 5             | 0.2                 |
| 4       | 3             | 0.1                 |
| 4       | 4             | 0.15                |
| 5       | 6             | 0.05                |
| 5       | 7             | 0.02                |
| 9       | 8             | 0.1                 |
| 10      | 8             | 0.15                |

### avis
| id | client_id | plat_id | note | commentaire                       | date_avis           |
|----|-----------|---------|------|----------------------------------|---------------------|
| 1  | 1         | 1       | 4    | Très frais, poulet bien cuit     | 2025-07-07 13:00:00 |
| 2  | 2         | 4       | 5    | Meilleure pizza du coin !        | 2025-07-07 14:00:00 |
| 3  | 3         | 9       | 3    | Un peu trop épicé                | 2025-08-15 19:00:00 |
| 4  | 4         | 10      | 4    | Bon, mais manque de sauce        | 2025-09-01 21:00:00 |
| 5  | 5         | 6       | 5    | Glace délicieuse                 | 2025-09-10 13:00:00 |

## Requêtes à réaliser
Créez un programme Python utilisant **SQLAlchemy** pour effectuer les tâches suivantes :

1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.

In [9]:
from sqlalchemy import create_engine ,insert,MetaData,Table,Column,CheckConstraint,Integer,VARCHAR,DECIMAL,ForeignKey,TIMESTAMP

connection_string = f"postgresql+psycopg2://postgres:124@localhost:5432/challenges_DB"
engine = create_engine(connection_string)

metadata = MetaData()

categories = Table('categories' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('nom' , VARCHAR),
                   )
plats = Table('plats' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('nom' , VARCHAR ),
                    Column('prix' , DECIMAL ),
                    Column('description' , VARCHAR ),
                    Column('categorie_id' , ForeignKey('categories.id') )
                   )
clients = Table('clients' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('nom' , VARCHAR ),
                    Column('email' , VARCHAR ),
                    Column('telephone' , VARCHAR ,nullable=True  )
                   )
commandes = Table('commandes' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('client_id' , ForeignKey('clients.id') ),
                    Column('date_commande' , TIMESTAMP ),
                    Column('total' , DECIMAL  )
                   )
commande_plats = Table('commande_plats' ,
                    metadata ,
                    Column('commande_id' , ForeignKey('commandes.id') ),
                    Column('plat_id' , ForeignKey('plats.id') ),
                    Column('quantite' , Integer  )
                   )
fournisseurs = Table('fournisseurs' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('nom' , VARCHAR ),
                    Column('contact' , VARCHAR ),
                   )
ingredients = Table('ingredients' ,
                    metadata ,
                    Column('id' , Integer , primary_key=True),
                    Column('nom' , VARCHAR ),
                    Column('cout_unitaire' , DECIMAL ),
                    Column('stock' , DECIMAL(10, 2) ),
                    Column('fournisseur_id' , ForeignKey('fournisseurs.id') )
                   )
plat_ingredients = Table('plat_ingredients' ,
                    metadata ,
                    Column('plat_id' , ForeignKey('plats.id') ),
                    Column('ingredient_id' , ForeignKey('ingredients.id') ),
                    Column('quantite_necessaire' , DECIMAL(10 , 2)  )
                   )

avis = Table('avis' ,
                    metadata ,
                    Column('plat_id' , ForeignKey('plats.id') ),
                    Column('client_id' , ForeignKey('clients.id') ),
                    Column('note' , Integer),
                    Column('commentaire' , VARCHAR ,nullable=True  ),
                    Column('date_avis' , TIMESTAMP),
                    CheckConstraint('note >= 1 AND note <= 5', name='note_range')
                   )

try:
        metadata.create_all(engine)
        print("Successfully connected to PostgreSQL!")
except Exception as e:
    print(f"Error connecting to PostgreSQL: {e}")

Successfully connected to PostgreSQL!


2. Insérer les données fournies ci-dessus.

In [13]:
from sqlalchemy import insert


with engine.begin() as conn:
    conn.execute(insert(categories),[
                {"nom" : "Entrée"},
                {"nom" : "Plat principal"},
                {"nom" : "Dessert"},
                {"nom" : "Boisson"},
                {"nom" : "Végétarien"}]
                )
    conn.execute(insert(plats), [
        {"nom": "Salade César", "prix": 45.00, "description": "Salade avec poulet grillé", "categorie_id": 1},
        {"nom": "Soupe de légumes", "prix": 30.00, "description": "Soupe chaude de saison", "categorie_id": 1},
        {"nom": "Steak frites", "prix": 90.00, "description": "Viande grillée et frites", "categorie_id": 2},
        {"nom": "Pizza Margherita", "prix": 70.00, "description": "Pizza tomate & mozzarella", "categorie_id": 2},
        {"nom": "Tiramisu", "prix": 35.00, "description": "Dessert italien", "categorie_id": 3},
        {"nom": "Glace 2 boules", "prix": 25.00, "description": "Glace au choix", "categorie_id": 3},
        {"nom": "Coca-Cola", "prix": 15.00, "description": "Boisson gazeuse", "categorie_id": 4},
        {"nom": "Eau minérale", "prix": 10.00, "description": "Eau plate ou gazeuse", "categorie_id": 4},
        {"nom": "Curry de légumes", "prix": 65.00, "description": "Plat végétarien épicé", "categorie_id": 5},
        {"nom": "Falafel wrap", "prix": 50.00, "description": "Wrap avec falafels et légumes", "categorie_id": 5}
    ])

    conn.execute(insert(clients), [
        {"nom": "Amine Lahmidi", "email": "amine@example.com", "telephone": "+212600123456"},
        {"nom": "Sara Benali", "email": "sara.b@example.com", "telephone": "+212600654321"},
        {"nom": "Youssef El Khalfi", "email": "youssef.k@example.com", "telephone": None},
        {"nom": "Fatima Zahra", "email": "fatima.z@example.com", "telephone": "+212600987654"},
        {"nom": "Omar Alaoui", "email": "omar.a@example.com", "telephone": "+212600112233"}
    ])

    conn.execute(insert(commandes), [
        {"client_id": 1, "date_commande": "2025-07-07 12:30:00", "total": 120.00},
        {"client_id": 2, "date_commande": "2025-07-07 13:00:00", "total": 85.00},
        {"client_id": 1, "date_commande": "2025-07-08 19:45:00", "total": 150.00},
        {"client_id": 3, "date_commande": "2025-08-15 18:30:00", "total": 200.00},
        {"client_id": 4, "date_commande": "2025-09-01 20:00:00", "total": 95.00},
        {"client_id": 5, "date_commande": "2025-09-10 12:15:00", "total": 75.00}
    ])

    conn.execute(insert(commande_plats), [
        {"commande_id": 1, "plat_id": 1, "quantite": 1},
        {"commande_id": 1, "plat_id": 3, "quantite": 1},
        {"commande_id": 1, "plat_id": 7, "quantite": 2},
        {"commande_id": 2, "plat_id": 2, "quantite": 1},
        {"commande_id": 2, "plat_id": 4, "quantite": 1},
        {"commande_id": 2, "plat_id": 8, "quantite": 1},
        {"commande_id": 3, "plat_id": 3, "quantite": 1},
        {"commande_id": 3, "plat_id": 5, "quantite": 1},
        {"commande_id": 3, "plat_id": 7, "quantite": 1},
        {"commande_id": 4, "plat_id": 4, "quantite": 2},
        {"commande_id": 4, "plat_id": 9, "quantite": 1},
        {"commande_id": 5, "plat_id": 10, "quantite": 1},
        {"commande_id": 5, "plat_id": 8, "quantite": 2},
        {"commande_id": 6, "plat_id": 7, "quantite": 3},
        {"commande_id": 6, "plat_id": 6, "quantite": 1}
    ])

    conn.execute(insert(fournisseurs), [
        {"nom": "AgriFresh", "contact": "contact@agrifresh.com"},
        {"nom": "MeatSupplier", "contact": "info@meatsupplier.com"},
        {"nom": "BevCo", "contact": "sales@bevco.com"},
        {"nom": "DairyFarm", "contact": "dairy@farm.com"}
    ])

    conn.execute(insert(ingredients), [
        {"nom": "Poulet", "cout_unitaire": 15.00, "stock": 50, "fournisseur_id": 2},
        {"nom": "Laitue", "cout_unitaire": 5.00, "stock": 20, "fournisseur_id": 1},
        {"nom": "Tomate", "cout_unitaire": 3.00, "stock": 30, "fournisseur_id": 1},
        {"nom": "Mozzarella", "cout_unitaire": 10.00, "stock": 15, "fournisseur_id": 4},
        {"nom": "Pomme de terre", "cout_unitaire": 2.00, "stock": 100, "fournisseur_id": 1},
        {"nom": "Café", "cout_unitaire": 20.00, "stock": 5, "fournisseur_id": 3},
        {"nom": "Sucre", "cout_unitaire": 1.50, "stock": 25, "fournisseur_id": 3},
        {"nom": "Pois chiches", "cout_unitaire": 4.00, "stock": 40, "fournisseur_id": 1}
    ])

    conn.execute(insert(plat_ingredients), [
        {"plat_id": 1, "ingredient_id": 1, "quantite_necessaire": 0.2},
        {"plat_id": 1, "ingredient_id": 2, "quantite_necessaire": 0.1},
        {"plat_id": 2, "ingredient_id": 2, "quantite_necessaire": 0.05},
        {"plat_id": 2, "ingredient_id": 5, "quantite_necessaire": 0.1},
        {"plat_id": 3, "ingredient_id": 1, "quantite_necessaire": 0.3},
        {"plat_id": 3, "ingredient_id": 5, "quantite_necessaire": 0.2},
        {"plat_id": 4, "ingredient_id": 3, "quantite_necessaire": 0.1},
        {"plat_id": 4, "ingredient_id": 4, "quantite_necessaire": 0.15},
        {"plat_id": 5, "ingredient_id": 6, "quantite_necessaire": 0.05},
        {"plat_id": 5, "ingredient_id": 7, "quantite_necessaire": 0.02},
        {"plat_id": 9, "ingredient_id": 8, "quantite_necessaire": 0.1},
        {"plat_id": 10, "ingredient_id": 8, "quantite_necessaire": 0.15}
    ])

    conn.execute(insert(avis), [
        {"client_id": 1, "plat_id": 1, "note": 4, "commentaire": "Très frais, poulet bien cuit", "date_avis": "2025-07-07 13:00:00"},
        {"client_id": 2, "plat_id": 4, "note": 5, "commentaire": "Meilleure pizza du coin !", "date_avis": "2025-07-07 14:00:00"},
        {"client_id": 3, "plat_id": 9, "note": 3, "commentaire": "Un peu trop épicé", "date_avis": "2025-08-15 19:00:00"},
        {"client_id": 4, "plat_id": 10, "note": 4, "commentaire": "Bon, mais manque de sauce", "date_avis": "2025-09-01 21:00:00"},
        {"client_id": 5, "plat_id": 6, "note": 5, "commentaire": "Glace délicieuse", "date_avis": "2025-09-10 13:00:00"}
    ])


3. Lister tous les plats triés par prix décroissant.

In [15]:
from sqlalchemy import select,desc

with engine.begin() as conn :
    data =conn.execute(select(plats).order_by(desc(plats.c.prix)))
    for plat in data:
        print(plat)

(3, 'Steak frites', Decimal('90.0'), 'Viande grillée et frites', 2)
(4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)
(9, 'Curry de légumes', Decimal('65.0'), 'Plat végétarien épicé', 5)
(10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec falafels et légumes', 5)
(1, 'Salade César', Decimal('45.0'), 'Salade avec poulet grillé', 1)
(5, 'Tiramisu', Decimal('35.0'), 'Dessert italien', 3)
(2, 'Soupe de légumes', Decimal('30.0'), 'Soupe chaude de saison', 1)
(6, 'Glace 2 boules', Decimal('25.0'), 'Glace au choix', 3)
(7, 'Coca-Cola', Decimal('15.0'), 'Boisson gazeuse', 4)
(8, 'Eau minérale', Decimal('10.0'), 'Eau plate ou gazeuse', 4)


4. Lister tous les plats dont le prix est compris entre 30 et 80.

In [18]:
from sqlalchemy import select

with engine.begin() as conn :
    data =conn.execute(select(plats).where((plats.c.prix<= 80) & (plats.c.prix>= 30)))
    for plat in data:
        print(plat)

(1, 'Salade César', Decimal('45.0'), 'Salade avec poulet grillé', 1)
(2, 'Soupe de légumes', Decimal('30.0'), 'Soupe chaude de saison', 1)
(4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)
(5, 'Tiramisu', Decimal('35.0'), 'Dessert italien', 3)
(9, 'Curry de légumes', Decimal('65.0'), 'Plat végétarien épicé', 5)
(10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec falafels et légumes', 5)


5. Afficher les clients dont le nom commence par "S" ou "F".

In [35]:
from sqlalchemy import or_

with engine.begin() as conn:
    data = conn.execute(select(clients).where(or_(clients.c.nom.like("S%"),clients.c.nom.like("F%"))))
    for client in data :
        print(client)

(2, 'Sara Benali', 'sara.b@example.com', '+212600654321')
(4, 'Fatima Zahra', 'fatima.z@example.com', '+212600987654')


6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).

In [42]:
from sqlalchemy import func

with engine.begin() as conn:
    data = conn.execute(select(plats.c.nom ,plats.c.prix ,plats.c.description  , categories.c.nom , fournisseurs.c.nom ).join(categories , plats.c.categorie_id == categories.c.id).join(plat_ingredients, plat_ingredients.c.plat_id == plats.c.id).join(ingredients, plat_ingredients.c.ingredient_id == ingredients.c.id).join(fournisseurs, fournisseurs.c.id == select(ingredients.c.fournisseur_id)
                .where(plat_ingredients.c.plat_id == plats.c.id)
                .group_by(ingredients.c.fournisseur_id)
                .order_by(desc(func.count(plat_ingredients.c.ingredient_id)))
                .limit(1).correlate(plats)
                .scalar_subquery() ).distinct())
    for plat in data:
        print(plat)

('Salade César', Decimal('45.0'), 'Salade avec poulet grillé', 'Entrée', 'AgriFresh')
('Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 'Plat principal', 'AgriFresh')
('Falafel wrap', Decimal('50.0'), 'Wrap avec falafels et légumes', 'Végétarien', 'AgriFresh')
('Soupe de légumes', Decimal('30.0'), 'Soupe chaude de saison', 'Entrée', 'AgriFresh')
('Curry de légumes', Decimal('65.0'), 'Plat végétarien épicé', 'Végétarien', 'AgriFresh')
('Steak frites', Decimal('90.0'), 'Viande grillée et frites', 'Plat principal', 'AgriFresh')
('Tiramisu', Decimal('35.0'), 'Dessert italien', 'Dessert', 'AgriFresh')

C:\Users\reida\AppData\Local\Temp\ipykernel_23272\3336569466.py:4: SAWarning: SELECT statement has a cartesian product between FROM element(s) "plat_ingredients" and FROM element "ingredients".  Apply join condition(s) between each element to resolve.
  data = conn.execute(select(plats.c.nom ,plats.c.prix ,plats.c.description  , categories.c.nom , fournisseurs.c.nom ).join(categories , plats.c.categorie_id == categories.c.id).join(plat_ingredients, plat_ingredients.c.plat_id == plats.c.id).join(ingredients, plat_ingredients.c.ingredient_id == ingredients.c.id).join(fournisseurs, fournisseurs.c.id == select(ingredients.c.fournisseur_id)


7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.

In [59]:
from sqlalchemy import func

with engine.begin() as conn :
    data = conn.execute(select(clients.c.nom , commandes.c.date_commande , func.count(commande_plats.c.plat_id))
                        .join(clients , clients.c.id == commandes.c.client_id)
                        .join(commande_plats , commande_plats.c.commande_id == commandes.c.id)
                        .group_by(clients.c.nom, commandes.c.date_commande, commandes.c.total ))

    for commande in data:
        print(commande)

('Omar Alaoui', datetime.datetime(2025, 9, 10, 12, 15), 2)
('Sara Benali', datetime.datetime(2025, 7, 7, 13, 0), 3)
('Fatima Zahra', datetime.datetime(2025, 9, 1, 20, 0), 2)
('Amine Lahmidi', datetime.datetime(2025, 7, 7, 12, 30), 3)
('Amine Lahmidi', datetime.datetime(2025, 7, 8, 19, 45), 3)
('Youssef El Khalfi', datetime.datetime(2025, 8, 15, 18, 30), 2)


8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.

In [68]:
with engine.begin() as conn : 
    data = conn.execute(select(commandes.c.id , plats.c.nom ,commande_plats.c.quantite , func.sum(ingredients.c.cout_unitaire) * commande_plats.c.quantite)
                        .join(commande_plats , commande_plats.c.commande_id == commandes.c.id)
                        .join(plats , plats.c.id == commande_plats.c.plat_id ).join(plat_ingredients , plat_ingredients.c.plat_id == plats.c.id)
                        .join(ingredients , ingredients.c.id == plat_ingredients.c.ingredient_id)
                        .group_by(commandes.c.id , plats.c.nom ,commande_plats.c.quantite))


    for commande in data:
        print(commande)

(5, 'Falafel wrap', 1, Decimal('4.0'))
(4, 'Pizza Margherita', 2, Decimal('26.0'))
(2, 'Pizza Margherita', 1, Decimal('13.0'))
(3, 'Steak frites', 1, Decimal('17.0'))
(4, 'Curry de légumes', 1, Decimal('4.0'))
(2, 'Soupe de légumes', 1, Decimal('7.0'))
(1, 'Steak frites', 1, Decimal('17.0'))
(1, 'Salade César', 1, Decimal('20.0'))
(3, 'Tiramisu', 1, Decimal('21.5'))


9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.

In [76]:
with engine.begin() as conn:
    data =conn.execute(select(categories.c.nom ,func.count(plats.c.id)).outerjoin(plats , categories.c.id == plats.c.categorie_id).group_by(categories.c.nom) )

    for categorie in data :
        print(categorie)

('Boisson', 2)
('Plat principal', 2)
('Entrée', 2)
('Boissons2', 0)
('Végétarien', 2)
('Dessert', 2)


10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.

In [80]:
with engine.begin() as conn:
    data =conn.execute(select(categories.c.nom ,func.avg(plats.c.prix) , (func.sum(ingredients.c.cout_unitaire) / func.count(func.distinct(plats.c.id))))
                       .join(plats , categories.c.id == plats.c.categorie_id ).join(plat_ingredients , plat_ingredients.c.plat_id == plats.c.id)
                        .join(ingredients , ingredients.c.id == plat_ingredients.c.ingredient_id).group_by(categories.c.nom) )

    for categorie in data :
        print(categorie)

('Dessert', Decimal('35.0000000000000000'), Decimal('21.5000000000000000'))
('Entrée', Decimal('37.5000000000000000'), Decimal('13.5000000000000000'))
('Plat principal', Decimal('80.0000000000000000'), Decimal('15.0000000000000000'))
('Végétarien', Decimal('57.5000000000000000'), Decimal('4.0000000000000000'))


11. Afficher le nombre de commandes par client, trié par ordre décroissant.

In [84]:
with engine.begin() as conn:
    data = conn.execute(select(clients.c.nom , func.count(commandes.c.id)).join(commandes , commandes.c.client_id == clients.c.id)
                        .order_by(desc(func.count(commandes.c.id))).group_by(clients.c.nom))

    for client in data:
       print(client)

('Amine Lahmidi', 2)
('Fatima Zahra', 1)
('Omar Alaoui', 1)
('Youssef El Khalfi', 1)
('Sara Benali', 1)


12. Afficher les clients ayant passé plus de deux commandes.

In [87]:
with engine.begin() as conn:
    data = conn.execute(select(clients.c.nom , func.count(commandes.c.id).label("commande_count")).join(commandes , commandes.c.client_id == clients.c.id)
                        .order_by(desc(func.count(commandes.c.id))).having(func.count(commandes.c.id) >= 2).group_by(clients.c.nom))

    for client in data:
       print(client)

('Amine Lahmidi', 2)


13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).

In [99]:
with engine.begin() as conn:
    data = conn.execute(select(plats.c.nom , func.sum(commande_plats.c.quantite), func.avg(avis.c.note) ).join(commande_plats , plats.c.id == commande_plats.c.plat_id )
                        .outerjoin(avis , plats.c.id == avis.c.plat_id)
                        .group_by(plats.c.nom).having(func.count(commande_plats.c.plat_id) >= 3))

    for plat in data:
       print(plat)

('Coca-Cola', 12, Decimal('3.5000000000000000'))


14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).

In [104]:
from datetime import datetime

with engine.begin() as conn:
    data = conn.execute(select(commandes).where(commandes.c.date_commande.between(datetime(2025,7,1, 00,00,00) , datetime(2025,8,31 ,23,59,59))))


    for commande in data:
        print(commande)

(1, 1, datetime.datetime(2025, 7, 7, 12, 30), Decimal('120.0'))
(2, 2, datetime.datetime(2025, 7, 7, 13, 0), Decimal('85.0'))
(3, 1, datetime.datetime(2025, 7, 8, 19, 45), Decimal('150.0'))
(4, 3, datetime.datetime(2025, 8, 15, 18, 30), Decimal('200.0'))


15. Afficher la commande la plus récente avec le nom du client et les plats commandés.

In [112]:
with engine.begin() as conn:
    data = conn.execute(select(commandes.c.id , commandes.c.date_commande).order_by(desc(commandes.c.date_commande)).limit(1))

    for commande in data:
        print(commande)

(6, datetime.datetime(2025, 9, 10, 12, 15))


16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.

In [115]:
with engine.begin() as conn:
    data = conn.execute(select(clients.c.nom , clients.c.telephone).join(commandes , commandes.c.client_id == clients.c.id).where(commandes.c.total >= 150).distinct())

    for client in data:
        print(client)

('Amine Lahmidi', '+212600123456')
('Youssef El Khalfi', None)


17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.

In [125]:
with engine.begin() as conn :
    data = conn.execute(select(plats.c.nom,(plats.c.prix/2 ),func.sum(ingredients.c.cout_unitaire) ).join(plat_ingredients , plats.c.id == plat_ingredients.c.plat_id)
                        .join(ingredients , ingredients.c.id == plat_ingredients.c.ingredient_id).group_by(plats.c.nom,plats.c.prix).distinct()
                        .having(func.sum(ingredients.c.cout_unitaire)>= (plats.c.prix /2)))

    for plat in data:
        print(plat)

('Tiramisu', Decimal('17.5000000000000000'), Decimal('21.5'))


18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.

In [ ]:
with engine.begin() as conn:
    # data = conn.execute(select(categories).where(categories.c.nom == "Végétarien")) 

    # conn.execute(insert(plats),[
    #     {"nom": "nouveau plat", "prix": 45.00, "description": "Salade avec poulet grillé", "categorie_id": }
    # ])

    for plat in data:
        print(plat)

(5, 'Végétarien')


19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
20. Afficher pour chaque client :
    - Son nom
    - Le nombre total de plats commandés
    - Le montant total dépensé
    - La note moyenne de leurs avis
21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.
23. Créer une vue virtuelle (SELECT) qui affiche :
    - Le nom du client
    - Les plats commandés
    - Les quantités
    - La date de la commande
    - La note moyenne du plat (via avis)
24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.